*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>header{
    padding: 40px;
    margin-bottom: 20px;
    background-color: rgb(168, 232, 235);
}
nav{
    background-color: rgb(235, 196, 97);
}
main{
    background-color: rgb(214, 138, 112);
}